<div class="row clearfix bg-faded p-t m-b p-b">
  <div class="col-sm-6">
    <h5 class="m-a-0"><i class="fa fa-plus"></i> Form</h5>
  </div>
  <div class="col-sm-6 text-right">
    <a ng-click="save()" class="btn btn-primary-outline btn-sm">Save</a>
  </div>
</div>
<div class="row-fluid clearfix">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#" class="nav-link" ng-click="transitionTo('newForm.settings')">Settings</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" ng-click="transitionTo('newForm.fields')">Fields</a>
    </li>
  </ul>
</div>
{{form}}
<div class="m-t-md" ui-view></div>