html, body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@import '/bower_components/bootstrap/dist/css/bootstrap.css';
@import 'font-awesome/less/font-awesome.less';

//@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'sidebar/sidebar.less';
// endinjector

.branding {
  font-family: 'Satisfy', cursive;
}

.navbar-brand {
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.bg-white {
  background: #fff;
}

.text-thin {
  font-weight: 300;
}

.sk-three-bounce .sk-child {
    width: 18px;
    height: 18px;
    background-color: rgba(255,255,255,.25);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
            animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }
  .sk-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s; }
  .sk-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s; }

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
