<nav class="navbar navbar-dark bg-inverse navbar-static-top">
  <button class="navbar-toggler hidden-sm-up" type="button" ng-click="isCollapsed = !isCollapsed">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" collapse="isCollapsed">
    <a class="navbar-brand" href="/">Metaracer</a>
    <ul ng-cloak ng-show="isLoggedIn()" class="nav navbar-nav pull-right">
      <li class="nav-item" ng-class="{active: isActive('/settings')}">
        <a class="nav-link" href="/settings"><span class="fa fa-gear"></span> {{ getCurrentUser().email}}</a>
      </li>
      <li class="nav-item" ng-class="{active: isActive('/logout')}">
        <a class="nav-link" href="" ng-click="logout()">Logout</a>
      </li>
    </ul>
    <ul ng-cloak ng-hide="isLoggedIn()" class="nav navbar-nav pull-right">
      <li class="nav-item" ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}">
        <a class="nav-link" href="/signup">Sign up</a>
      </li>
      <li class="nav-item" ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>