<div class="bg-primary-rgba sidebar">
  <div class="b-b border-white-rgba text-center navbar navbar-static-top">
    <a class="hidden-md-down sidebar-brand" ng-class="{'branding':!organization}" href="/">{{organization.acronym || 'Metaracer'}}</a>
    <button class="sidebar-toggler hidden-lg-up" type="button" data-toggle="collapse">
      &#9776;
    </button>
  </div>
  <ul ng-cloak ng-show="isLoggedIn()" class="nav nav-pills nav-stacked p-a m-t hidden-md-down">
    <li class="nav-item" ng-repeat="item in menu">
      <a class="nav-link" ui-sref="{{item.go}}({{stateParam(link)}})" ui-sref-active="active">{{item.title}}</a>
    </li>
    <li class="nav-item" ng-show="isAdmin()">
      <a class="nav-link" ng-class="{'active': isActive('/admin')}" href="/admin">Admin</a>
    </li>
  </ul>
  <ul ng-cloak ng-hide="isLoggedIn()" class="nav nav-pills nav-stacked nav-sidebar">
    <li class="nav-item">
      <a class="nav-link" ng-class="{active: isActive('/signup')}" href="/signup">Sign up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ng-class="{active: isActive('/login')}" href="/login">Login</a>
    </li>
  </ul>
</div>