<div class="col-sm-12 col-md-2 sidebar bg-faded">
  <ul ng-cloak ng-show="isLoggedIn()" class="nav nav-pills nav-stacked nav-sidebar">
    <li class="nav-item" ng-repeat="item in menu">
      <a class="nav-link" ng-href="{{item.link}}" ng-class="{'active':isActive(item.link)}">{{item.title}} <span ng-cloak ng-show="isActive(item.link)" class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item" ng-show="isAdmin()">
      <a class="nav-link" ng-class="{'active': isActive('/admin')}" href="/admin">Admin</a>
    </li>
  </ul>
  <ul ng-cloak ng-hide="isLoggedIn()" class="nav nav-pills nav-stacked nav-sidebar">
    <li class="nav-item">
      <a class="nav-link" ng-class="{active: isActive('/signup')}" href="/signup">Sign up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ng-class="{active: isActive('/login')}" href="/login">Login</a>
    </li>
  </ul>
</div>