<sidebar menu="organization"></sidebar>
<div class="main col-lg-push-2 p-l-0 p-r-0">
  <navbar></navbar>
  <div class="container-fluid bg-faded p-a b-b border-white bg-lighter">
    <span class="lead text-muted">{{organization.acronym}} Members</span>
    <!-- <button class="btn btn-secondary-outline btn-sm pull-right">Click Me</button> -->
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-cloak ng-show="members.length">
        <tr ng-repeat="member in members">
          <td>{{member._user.firstName}}</td>
          <td>{{member._user.lastName}}</td>
          <td>{{member._user.email}} <i ng-cloak ng-show="member._user.verifiedEmail" class="fa fa-check text-success"></i></td>
          <td>{{member.role}}</td>
          <td class="text-right">
            <button class="btn btn-secondary-outline btn-sm" ng-click="member.$delete()"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
      <tbody ng-cloak ng-hide="members.length">
        <tr>
          <td colspan="6">
            <p class="help-block">No members exist for your organization</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>